body{
	background-color: #fff999;
}

h1{
	font-size: 50px;
	text-align: center;
	color: #aa1111;
}

p{
	font-size: 25px;
	border: 2px solid red;
	padding: 12px;
	position: relative;
}

button{
	background-color: #bb0000;
	font-size: 30px;
	position: absolute;
	left: 570px;
	color: white;
	padding: 10px;
}